/* Font for hele nettstedet */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  font-family: 'Lato', sans-serif; 
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  font-size: 20px;
}

body {
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
}

/* Header */

.topp {
 height: auto;
 text-align: center;
 display: flex;
 justify-content: space-between;
}

.logginnknapp {
  margin: 70px 50px 0px 0px;
  font-size: 1.2rem;
}

.logginnknapp:hover {
  cursor: pointer;
  text-decoration: underline;
}

.henthjelp ul {
  list-style-type: none;
  display: flex;
  margin: 70px 0px 0px 50px;
  font-size: 1.2rem;
}
.henthjelp ul li {
  margin-right: 50px
}

.henthjelp ul li a {
  color: #252525;
}

.henthjelp ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logo {
  margin-left: 50px;
}

.logo h1 a {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5px;
  margin-left: -370px;
  color: #252525;
}

.logo h2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0px;
  margin-left: -370px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

nav ul li {
    margin: 0px 10px;
    position: relative;
}

nav ul li a {
  color: #252525;
  }

/* Dropdown meny */

.dropdown {
  position: relative;
}

.dropdowncontent {
  margin: 0px 0px 0px -25px;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.829);
  padding: 7px 0px;
  border-radius: 10px;
  z-index: 1;

}

.dropdowncontent li a:hover{
  background-color: #D2E3C8;
  border-radius: 5px;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.dropdowncontent li {
  text-align: left;
}

.dropdowncontent li a {
  display: block;
  color: #252525;
  padding: 5px 12px;
  margin: 5px;
}

/* Footer */

.footer {
  background-color: rgb(222, 222, 222);
  text-align: center;
  width: 100%;
  bottom: 0;
  position: relative;
  margin-top: auto;
}

.tabell {
  width: 100%; 
  font-size: 1rem;
}

.fhead {
  font-size: 2.5rem;
  margin-left: 20px;
  text-align: left;
  padding-top: 10px;
}

.footer a {
  color: #252525;
}

footer p {
  padding-bottom: 20px;
  margin-top: 30px;
  font-size: 0.8rem;
}

/* KLEDELI.html */

.forside {
  display: flex;
  flex-direction: column;
}

.fortekst {
  width: 100%;
  height: 1000px;
  background-image: url(../Bilder/Forsideny.jpeg);
  background-repeat: no-repeat;
  background-position: top;
}

.fortekst h1 {
  text-align: right;
  font-size: 5rem;
  color: #252525;
  margin-right: 40px;
  user-select: none;
}

.henting {
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  background-image: url(../Bilder/pakke.png);
  background-size: 19rem;
  background-repeat: no-repeat;
  background-position: right 65px center;
  display: flex;
  align-items: center;
}

.henting h1 {
  font-size: 4rem;
  margin-left: 20px;
  color: #c5c5c5;
}

.henting:hover {
  background-color: #F7EFE5;
  background-image: url(../Bilder/pakke2.png);
}

.henting:hover h1 {
  color: #252525;
}

.blimedlem {
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  background-image: url(../Bilder/Medlem.png);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}

.blimedlem h1 {
  font-size: 4rem;
  margin-left: 20px;
  color: #c5c5c5;
}

.blimedlem:hover {
  background-color: #C3ACD0;
  background-image: url(../Bilder/Medlem2.png);
}

.blimedlem:hover h1 {
  color: #252525;
}

.kontaktoss {
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  background-image: url(../Bilder/Mail.png);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}

.kontaktoss h1 {
  font-size: 4rem;
  margin-left: 20px;
  color: #c5c5c5;
}

.kontaktoss:hover {
  background-color: #7743DB;
  background-image: url(../Bilder/Mail2.png);
}

.kontaktoss:hover h1 {
  color: #252525;
}


/* Logg inn */

.logginn {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
}

.logginnform {
  width: 420px;
  color: #252525;
  padding: 30px 40px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px #00000038;
  margin: 10% auto 15% auto;
  border: 1px solid #d1d1d1;
}

.logginnform h1 {
  font-size: 1.8rem;
  text-align: center;
}

.logginnform .inputboks {
  width: 100%;
  height: 50px;
  margin: 30px 0px;
}

.inputboks {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #252525;
  margin: 30px 0;
  z-index: 1;
}

.inputboks label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  pointer-events: none;
  transition: 0.2s;
  
  z-index: 2;
}

.inputboks input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 0.8rem;
}

.inputboks input::placeholder{
  opacity: 0;
}

.inputboks input:focus~label,
.inputboks input:valid~label {
  top: -5px;
  font-size: .75em;
}

.logginnform .huskglem {
  display: flex;
  justify-content: space-between;
  font-size: 0.725rem;
  margin: -15px 0px 15px;
}

.huskglem label input {
  margin-right: 3px;
  margin-top: 25px;
}

.huskglem a {
  color: #252525;
  margin-top: 25px;
}

.huskglem a:hover {
  text-decoration: underline;
}

.senterbtn {
  display: flex;
  justify-content: center;
}

.logginnform .btn {
  width: 80%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  color: #252525;
  display: flex;
  justify-content: center;
}

.logginn .registrer {
  font-size: 0.725rem;
  margin: 20px 0 15px;
  text-align: center;
}



.registrer p a {
  color: #252525;
  font-weight: 600;

}

.registrer p a:hover {
  text-decoration: underline;
}

.avbryt {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #252525;
    font-size: 1.75rem;
    font-weight: bold;
}

.avbryt:hover {
  cursor: pointer;
}

/* Baerekraft.html */

h3.h3 {
  color: green;
  text-align: center;
  background-color: #EAF2E7
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.tekstbaerekraft p {
  text-align: center;
  text-indent: 50px;
  line-height: 1.8;
}

h2.bkraft {
  text-transform: uppercase;
  text-align: center;
  color: green;
  background-color: #EAF2E7
}

/* Hente.html */

.hentebakgrunn {
  background-image: url(../Bilder/pakke.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 30%;
  background-position-x: 10%;
}

.steksthente{
  font-size: 2.5rem;
  text-align: center;
  margin: 20px;
  font-weight: 600;
}

.teksthente {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
  font-weight: 600;
}

.knapperhente {
  display: flex;
  justify-content: center;
}

.knapperhente div a {
  margin:0px 50px;
  background-color: #D2E3C8;
  padding: 25px 50px;
  border-radius: 20px;
  font-size: 1.3rem;
  color: #000000;
}
.knapperhente div a:hover {
  background-color: #ecf7e6;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .knapperhente {
    flex-direction: column;
    align-items: center;
  }
  .haugesund, .førde {
    margin-top: 100px;
  }
}

/* link til sporing */
.bildebeholder {
  width: 400px; 
  height: 400px; 
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.bildehente {
  max-width: 100%;
  max-height: 100%; 
  width: 100%; 
  height: 100%; 
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.5); 
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 5px;
}

.overlaytekst p a{
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
  background-color: #D2E3C8;
  padding: 10px 24px;
  border-radius: 5px;
}

.bildebeholder:hover .overlay {
  opacity: 1;
}

.bildebeholder:hover .overlaytekst p a {
  opacity: 1;
}

/* Yttertøy.html, Innetøy.html, Undertøy.html, Barn.html*/

.h2klaer {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  flex: 0 0 30%; 
  margin: 10px;
  text-align: center;
}

.gallery-item img {
  width: 300px; 
  height: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.description {
  margin-top: 10px;
}

/* Kontaktoss.html */

.skjemah2 {
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  background: transparent;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-bottom: 2px solid #000000;
}

.btn {
  text-decoration: none;
  padding: 10px 24px;
  color: #000000;
  background-color: #D2E3C8;
  border-radius: 5px;
}

.send:hover {
  background-color: #ecf7e6;
  transition: 0.5s;
}

.container {
  border-radius: 5px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/*Medlemskap.html*/

.table th, .table td{
  text-align: center;
  border: 3px;
  border-collapse: collapse;
  width: max-content;
  padding: 1%;
  font-size: 1.25rem;
}

.table th{
  border: 3px solid black;
  border-collapse:collapse;
}

.table th a {
  color: #000;
  padding: 5px 250px;
  white-space: nowrap;
}


.table th a:hover {
  text-decoration: underline;
}

.table {
  margin-left: auto;
  margin-right: auto;
} 

/* Omoss.html */

.omossh2 {
  text-align: center;
  font-size: 1.5rem;
}

.omoss {
  text-align: center;
}