/* Font for hele nettstedet */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  font-family: 'Lato', sans-serif; 
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Header */

.toplinje{
    text-align: center;

}

.toplinje h1 a {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    color: #000000;
}

.toplinje h2 {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
}

nav {
    background-color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
  }

/* Dropdown meny */

.dropdown {
    position: relative;
}

.dropdowncontent {
  margin: 0px -25px;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 7px 0px;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;

}

.dropdowncontent li a:hover{
    background-color: #D2E3C8;
    border-radius: 5px;
}

.dropdown:hover .dropdowncontent {
    display: block;
}

.dropdowncontent li {
    text-align: left;
}

.dropdowncontent li a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 5px 12px;
    margin: 5px;
}

/* Footer */

.footer {
    background-color: rgb(222, 222, 222);
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative;
    margin-top: auto;
}

.tabell {
    width: 100%; 
}

.fhead {
    font-size: 30px;
    margin-left: 20px;
    text-align: left;
    padding-top: 10px;
}

.footer a {
    color: black;
    text-decoration: none;
}

footer p {
  padding-bottom: 20px;
}

/* KLEDELI.html */

/* Knapper */
.knapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.knapper ul {
  list-style: none;
  display: flex;
}

.knapper ul li {
  margin: 0px 80px;
}

.knapper ul li a {
  text-decoration: none;
  color: #000000;
}

.knapper .levpad1:hover, .levpad2:hover, .levpad3:hover {
  background-color: #ecf7e6;
}

.levpad1{
  font-size: 26px;
  white-space: nowrap;
  padding: 50px 125px;
  background-color: #D2E3C8;
  border-radius: 20px;
}

.levpad2, .levpad3 {
  font-size: 26px;
  white-space: nowrap;
  padding: 50px 200px;
  background-color: #D2E3C8;
  border-radius: 20px;
}



/* Baerekraft.html */
h2.h2 {
  text-align: center;
}

h3.h3 {
  color: green;
  text-align: center;
  background-color: #EAF2E7
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.tekstbaerekraft p {
  text-align: center;
  text-indent: 50px;
  line-height: 1,8;
}

h2.bkraft {
  text-transform: uppercase;
  color: green;
  background-color: #EAF2E7
}

/* Hente.html */

.steksthente{
  font-size: 50px;
  text-align: center;
  margin: 20px;
  font-weight: 600;
}

.teksthente {
  font-size: 40px;
  text-align: center;
  margin: 20px;
  font-weight: 600;
}

.knapperhente ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.knapperhente ul li a {
  margin:0px 50px;
  background-color: #D2E3C8;
  padding: 25px 50px;
  border-radius: 20px;
  font-size: 26px;
}
.knapperhente ul li a:hover {
  background-color: #ecf7e6;
  transition: 0.5s;

}
/* link til sporing */
.bildebeholder {
  position: relative;
  width: 400px; 
  height: 400px; 
  left: 42.5%;
  margin: 20px 0px;
}

.bildehente {
  max-width: 100%;
  max-height: 100%; 
  width: 100%; 
  height: 100%; 
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.5); 
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 5px;
}

.overlaytekst p a{
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000000; 
  background-color: #D2E3C8;
  padding: 10px 24px;
  border-radius: 5px;
}

.bildebeholder:hover .overlay {
  opacity: 1;
}

.bildebeholder:hover .overlaytekst p a {
  opacity: 1;
}

/* Yttertøy.html, Innetøy.html, Undertøy.html, Barn.html*/

.h2klaer {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  flex: 0 0 30%; 
  margin: 10px;
  text-align: center;
}

.gallery-item img {
  width: 300px; 
  height: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.description {
  margin-top: 10px;
}

/* Kontaktoss.html */

.skjemah2 {
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.send {
  text-decoration: none;
  padding: 10px 24px;
  color: #000000;
  background-color: #D2E3C8;
  border-radius: 5px;
}

.send:hover {
  background-color: #ecf7e6;
  transition: 0.5s;
}

.container {
  border-radius: 5px;
  background-color: rgb(222, 222, 222);
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}