
/* Font for hele nettstedet */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  font-family: 'Lato', sans-serif; 
}

/* Header */
header h1{
  font-size: 45px;
  text-align: center;
  margin-bottom: 5px;
}
header p {
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
}
.sealt {
  Margin-left: 0px;
}
nav{
  font-size: 20px;
  margin-left: 30px;
}
nav a {
margin-left: 30px;

}
button {
  margin-left: 25px;
}

/* Knapper */
.knapper {

}
.knapp {
  font-size: 20px;
  border: none;
  padding: 15px;
}



/* Dropdown menyen */
.navbar a {
    display: inline;
    float:left;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-left: 25px;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    
    display: block;
    text-align: left;
    margin-left: 30px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Footer */
.footer {
    background-color: rgb(222, 222, 222);
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative;
}
.tabell {
    width: 100%;

}
.fhead {
    font-size: 30px;
    margin-left: 10px;
    text-align: left;
}
a {
    color: black;
    text-decoration: none;
}
footer p {
  padding-bottom: 10px;
}
